.container {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
}

.container::before,
.container::after {
  content: "";
  /* background-color: #fab5704c; */
  position: absolute;
}

.container::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}
.contact__headline.header-xl{
  color: var(--accent);
}
/* 
.container::after {
  content: '"';
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
   border: 1px solid; 
  font-size: 12em;
  color: var(--green);
  opacity: 0.3;
} */
.container::after {
  content: "ICCBM 2023";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  /* border: 1px solid; */
  font-size: 0.6em;
  color: var(--accent);
  opacity: 0.9;
}
.green {
  color: var(--green);
}

.container .box {
  width: 20em;
  height: 12em;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.074); */
  border: 1px dashed var(--accent);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  box-shadow: 0px 0px 20px 1px var(--bg-body2);

}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--accent);
}

.container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text2);
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--text1);
}

.container .box div span {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--accent);
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px var(--bg-body2);
  border: 1px solid rgba(255, 255, 255, 0.454);
}



/* CSS for Payment options*/
.plan {
  border-radius: 16px;
  /* box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205); */
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 500px;
  height: 500px; 
  /* border: 1px solid #697e91; */
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #6558d3;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover, .plan .button:focus {
  background-color: #4133B7;
}

#no_padding{
  padding-bottom: 0px;
}