/* GLOBAL */

:root {
  /* --bg-body: hsl(0, 0%, 8%); */
  --bg-body:#ffff;

  /* --bg-body2: hsl(0, 0%, 14%); */
  --bg-body2: #c2dfff;


  
  /* --accent: hsl(153, 71%, 59%); */
  --accent:   #275cab
  ;

  /* --text1: hsl(0, 0%, 100%); */
  --text1: hsl(0, 0%, 8%);

  /* --text2: hsl(0, 0%, 85%); */
  --text2: hsl(0, 0%, 14%);

  --invalid: hsl(7, 100%, 68%);
  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-36: 2.25rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --container: 69.375rem;
  --transition: 250ms ease-in-out;
  --pale-blue: #d0d6f9;
  --white: #fff;
  --hover-grey: #979797;
  --red: #ff605c;
  --green: #00ca4e;
  --gold: #ffd700;
  --silver: #808080;
  --bronze: #c9ae5d;
}

html,
body {
  overflow-x: scroll;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  border: 0;
}

body,
input,
textarea,
button {
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs-18);
  line-height: 1.56;
  /* padding-bottom: 25rem; */
}

.bg-less-dark {
  background-color: var(--bg-body2);
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

.header-xl {
  font-size: 2.5rem;
  /* font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem); */
  font-size: clamp(2rem, 0.5rem + 7vw, 5rem);
  letter-spacing: -0.028em;
  line-height: 1.1;
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
  line-height: 1.5;
  color: var(--text2);
}

a {
  transition: color var(--transition);
}

a:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px dashed var(--accent);
  outline-offset: 2px;
}

input:invalid,
textarea:invalid {
  outline-color: var(--invalid);
}

a.underline,
button {
  display: inline-block;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.143em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text1);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

/* a:hover {
  color: var(--accent);
} */

img,
svg {
  display: block;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

/* 600px */
@media (min-width: 37.5em) {
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

/* UTILITY */

.bottom-border {
  /* border-bottom: 1px solid var(--text2); */
}

/* HEADER */

.header {
  position: relative;
  z-index: 1;
  margin-block-start: 20px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  text-decoration: none;
  flex: 1 0 100%;
}

.header__social > svg > path {
  transition: fill var(--transition);
}

.header__social:hover > svg > path {
  fill: var(--accent);
}

@media (min-width: 37.5em) {
  .header {
    margin-block-start: 30px;
    /* margin-block-end: 90px; */
  }

  .header__nav {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .header__home {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }
}

@media (min-width: 62.5em) {
  .header {
    margin-block-start: 40px;
    margin-block-end: 127px;
  }

  .header__nav {
    padding-right: 30px;
  }
}

/*  HERO */

.hero__wrapper {
  /* padding-bottom: 80px; */
}

.hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 174px;
  height: auto;
  
  
}


.hero__rings {
  position: absolute;
  right: 50%;
  top: 130px;
  /* 8.125rem; */
  z-index: -1;
  /* width: 33.125rem; */
  height: auto;
}

.hero__circle {
  position: relative;
  top: 171px;
  margin-bottom: -129px;
  translate: calc(100vw - 64px - 16px);
}

.hero__text {
  position: relative;
  text-align: center;
  margin-block-start: 335px;
}

.hero__headline {
  margin-block-end: 24px;
}

.hero__headline > br {
  display: none;
}

h1 > span {
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.hero__description {
  margin-block-end: 20px;
}

@media (min-width: 37.5em) {
  .hero {
    position: relative;
    margin-block-start: -62px;
  }

  .hero__wrapper {
    /* padding-bottom: 60px; */
  }

  .hero__content {
    display: flex;
    align-items: center;
  }

  .hero__content picture {
    order: 2;
  }

  .hero__image {
    position: relative;
    width: 42vw;
    max-width: 415px;
    /* width: 322px; */
    height: auto;
    left: auto;
    right: -100px;
    translate: 0;
    border: 10px solid var(--accent);
    box-shadow: 2px 2px 2px rgb(53, 52, 52);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    

  }

  .hero__rings {
    top: 90px;
    right: auto;
    left: 0;
    translate: -50%;
  }

  .hero__circle {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 190px;
    translate: 50%;
    z-index: 1;
  }

  .hero__text {
    /* width: 62vw; */
    margin-block-start: 90px;
    margin-right: -30px;
    flex: 1 0 58vw;
    text-align: left;
    z-index: 1;
  }

  .hero__headline {
    margin-block-end: 60px;
  }

  .hero__headline > br {
    display: inline-block;
  }

  .hero__description {
    /* width: 70%; */
    margin-block-end: 34px;
  }
}

@media (min-width: 62.5em) {
  .hero {
    margin-block-start: 0px;
  }

  .hero__wrapper {
    position: relative;
    /* padding-bottom: 100px; */
  }

  .hero__content {
    align-items: flex-start;
  }

  .hero__content picture {
    margin-left: -80px;
  }

  .hero__image {
    margin-block-start: -199px;
  }

  .hero__rings {
    top: 0px;
    translate: -50% -50%;
  }

  .hero__circle {
    top: 322px;
    right: 445px;
  }

  .hero__text {
    margin-block-start: 0;
    margin-right: 0;
    flex: 1;
  }

  .hero__headline {
    margin-block-end: 43px;
  }

  .hero__headline > br {
    display: none;
  }

  .hero__description {
    width: 38ch;
    margin-block-end: 66px;
  }
}

/* SKILLS */

.skills {
  position: relative;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-block: 40px;
}

.skills__item {
  text-align: center;
}

.skills__title {
  font-size: 2rem;
  /* font-size: clamp(1rem, 0.33rem + 5vw, 3rem); */
  line-height: 1.17;
  margin-block-end: 2px;
  color: var(--accent);
}

.skills__description {
  margin-block-end: 0;
}

.skills__rings {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: 0 50%;
}
/* 

css for date and schedule

*/
.important_dates {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
}

.date {
  width: 20%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  padding: 1em;
  font-size: 14px;
  border-radius: 0.5em;
  color:var(--white);
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(111, 120, 161, 0.5), 
  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
 
}


.date p{
  color: var(--white);
  text-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(111, 120, 161, 0.5); 
  
}

.text_for_date {
  width: 80%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-inline-start: 1em;
  font-size: 5px;
}

#extra_padding {
  margin-top: 1.8rem;
  margin-block-end: 2rem;
}
/* end of css for date  */

/* card items for scope */
.card {
  width: 400px;
  height: 254px;
  margin: 0 auto;
  background-color: var(--bg-body2);
  border-radius: 8px;
  z-index: 1;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  /* align-items: center; */
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
.card__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* card items for scope */

/* fadein in scroll */
.reveal {
  position: relative;
  transform: translateY(10px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.leftReveal {
  position: relative;
  transform: translateX(-50px);
  opacity: 0;
  transition: 1s all ease;
}

.leftReveal.leftActive {
  transform: translateX(0);
  opacity: 1;
}

.rightReveal {
  position: relative;
  transform: translateX(50px);
  opacity: 0;
  transition: 1s all ease;
}

.rightReveal.rightActive {
  transform: translateX(0);
  opacity: 1;
}

/* end of fadein scroll */

/* hero animation */
.hero_animation {
  animation: slidein 4s ease-in-out 500ms infinite;
}

@keyframes slidein {
  0% {
    /* pushes the sun down past the viewport */
    /* transform: translateX(500px); */
    scale: 0.9;
    opacity: 1;
  }
  50% {
    /* returns the sun to its default position */
    /* transform: translateY(0); */
    scale: 1;
    opacity: 1;
  }
  100% {
    /* returns the sun to its default position */
    /* transform: translateY(0); */
    scale: 0.9;
    opacity: 1;
  }
}
/* end of hero animation */
/* subtite */
.subtitle {
  margin-block-start: -1em;
  margin-block-end: 2em;
  font-size: 1.8ch;
  color: white;
  border-radius: 5px;
  background-color: #275cab;
  padding: .3em;
  box-shadow: 2px 2px 2px 2px rgb(32, 32, 32);
}
/* end of subtitle */
@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 24px;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  }
}

@media (min-width: 37.5em) {
  .skills__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 24px;
    border: none;
    padding-block: 52px 0;
  }

  .skills__item {
    text-align: left;
  }

  .skills__rings {
    translate: 40% 50%;
  }
}

@media (min-width: 62.5em) {
  .skills__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 30px;
    padding-block-start: 72px;
  }

  .skills__rings {
    translate: -40% 50%;
    left: 100%;
  }
}

/* PROJECTS */

.projects__wrapper {
  padding-block: 140px;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  text-align: center;
}

.projects__headline {
  grid-column: 1 / span 2;
  margin-block-end: 0;
}

.projects__contact {
  grid-column: 1 / span 2;
}

.projects__item {
  grid-column: 1 / span 2;
}

.projects__picture {
  display: block;
  margin-block-end: 20px;
}

.projects__image {
  width: 100%;
  height: auto;
}

.projects__name {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-end: 7px;
}

.projects__tags {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-block-end: 20px;
  text-transform: uppercase;
}

.projects__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 37.5em) {
  .projects__grid {
    gap: 60px 24px;
    justify-items: start;
    text-align: left;
  }

  .projects__contact {
    justify-self: end;
  }

  .projects__item {
    grid-column: span 1;
  }

  .projects__headline,
  .projects__contact {
    grid-column: span 1;
  }

  .projects__contact {
    align-self: center;
  }

  .projects__tags,
  .projects__links {
    display: block;
  }

  .projects__tags span {
    margin-inline-end: 18px;
  }

  .projects__links a {
    margin-inline-end: 30px;
  }

  .project__links {
    display: block;
  }
}

@media (min-width: 62.5em) {
  .projects__grid {
    gap: 70px 30px;
  }

  .projects__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .projects__picture {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .projects__picture::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .projects__item:hover .projects__picture::after {
    opacity: 0.5;
  }

  .projects__item:hover .projects__links {
    opacity: 1;
  }
  .projects__item:focus-within .projects__links {
    opacity: 1;
  }

  .projects__item:focus-within .projects__picture::after {
    opacity: 0.5;
  }

  .projects__image {
    width: 100%;
    height: auto;
  }

  .projects__links {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }

  .projects__links:hover ~ .projects__picture::after {
    opacity: 0.5;
  }

  .projects__tags {
    margin-block-end: 0;
  }
}

/* CONTACT */

.contact {
  position: relative;
}

.contact__wrapper {
  padding-block: 84px;
}

.contact__headline {
  margin-block-end: var(--fs-20);
}

.contact__control {
  position: relative;
  margin-block-end: 16px;
}

.contact__control input,
.contact__control textarea {
  width: 100%;
  padding-block: 16px;
  padding-inline: 24px;
  border: none;
  border-bottom: 1px solid var(--text1);
  background: transparent;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--text1);
}

.contact__control > *::placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact__control textarea {
  margin-block-end: 32px;
}

.contact__control.align-right {
  display: flex;
  justify-content: flex-end;
}

.contact__control button {
  background-color: transparent;
  border: none;
}

.contact__invalid-icon {
  display: none;
  width: var(--fs-24);
  height: var(--fs-24);
  position: absolute;
  top: 50%;
  right: 0;
  translate: -50% -50%;
}

.contact input:focus-visible:invalid ~ .contact__invalid-icon,
.contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
  display: inline-block;
}

.contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
  top: 1.2rem;
  right: 1.5rem;
  translate: none;
}

.contact__rings {
  position: absolute;
  left: 0;
  bottom: 97px;
  translate: -75%;
}

@media (min-width: 37.5em) {
  .contact__rings {
    bottom: 47px;
    translate: -75%;
  }
}

@media (min-width: 62.5em) {
  .contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 27.8rem);
    justify-content: space-between;
  }

  .contact__headline {
    margin-block-end: var(--fs-36);
  }

  .contact__rings {
    translate: -40%;
  }
}

/* 999.98px */
@media (max-width: 62.49875em) {
  .contact__wrapper {
    max-width: 27.8rem;
  }

  .contact__text {
    text-align: center;
  }
}

footer {
  padding-block: 40px 60px;
}

@media (min-width: 37.5em) {
  footer {
    padding-block: 30px 40px;
  }
  .sponsors_name{
    gap: 0rem;
    
  }
}

@media (min-width: 62.5em) {
  footer {
    padding-block: 47px 92px;
  }
}

/* newly added */
.hero__description::before {
  content: " ";
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-inline-end: 5px;
}

.no_space {
  margin-block-end: 10px;
}

/* navbar */

/* Set default a tag styles */
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
button.nav-text,
li a.nav-text {
  /* font-family: "Barlow Condensed"; */
  font-size: 15px;
  letter-spacing: 2.7px;
  display: block;
  border-bottom: 2px solid transparent;
  transition: 0.25s;
  
}

button.nav-text:hover,
li a.nav-text:hover {
  border-bottom: 2px solid var(--white);
}

button.nav-text.active,
li a.nav-text.active {
  border-bottom: 2px solid var(--white);
  color: var(--white);
}

li a.nav-text span {
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 0 40px;
}

header #logo {
  display: block;
  
  width: 100px;
  background-color: white;
  
}

header #logo:hover {
  transform: scale(0.9);
}

header #hr {
  background-color: var(--accent);
  min-width: 1px;
  height: 1px;
  flex-grow: 1;
  transform: translateX(25px);
  position: relative;
  z-index: 1;
}
#navbar-main {
  padding-left: 25px;
  padding-right: 20px;
  position: relative;
  background-color: var(--accent);
  backdrop-filter: blur(8px);
  z-index: 1;
  box-shadow: 2px 2px 2px 2px rgb(54, 54, 54);
}

#navbar-main ul {
  list-style-type: none;
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

#navbar-main ul li a.nav-text {
  padding: 20px 0;
}

header #nav-toggle {
  background: none;
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

header #nav-toggle img {
  display: block;
}

@media only screen and (max-width: 1000px) {
  header {
    margin-top: 10px;
  }
  #navbar-main {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    margin-top: 0;
    margin-bottom: 20px;
  }
  #navbar-main {
    padding: 0 50px;
  }
  li a.nav-text span {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  header #hr {
    display: none;
  }
  #navbar-main {
    padding: 0 30px;
  }
  #navbar-main ul {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    margin-left: 25px;
  }
  #navbar-main {
    padding: 0 24px;
  }
  #navbar-main ul li a.nav-text {
    padding: 24px 0;
  }
  .sponsors{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 0px;
    overflow: scroll;
  }
  .sponsors_name{
    gap: 0rem;
    
  }
 
}

@media only screen and (max-width: 1000px) {
  header {
    margin: 20px 25px;
  }
  header #logo {
    width: 42px;
  }
  #navbar-main {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    width: 254px;
    padding: 30px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: 0.25s ease;
    backdrop-filter: blur(16px);
  }
  #navbar-main.show {
    transform: translateX(0%);
  }
  #navbar-main ul {
    flex-direction: column;
    width: auto;
    margin-top: 90px;
  }
  #navbar-main ul li {
    opacity: 0;
  }
  #navbar-main ul li.fadeIn {
    animation: 0.3s fadeIn forwards;
  }
  #navbar-main ul li:nth-of-type(1) {
    animation-delay: 0.2s;
  }
  #navbar-main ul li:nth-of-type(2) {
    animation-delay: 0.3s;
  }
  #navbar-main ul li:nth-of-type(3) {
    animation-delay: 0.4s;
  }
  #navbar-main ul li:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  #navbar-main ul li:nth-of-type(5) {
    animation-delay: 0.6s;
  }
  #navbar-main ul li:nth-of-type(6) {
    animation-delay: 0.7s;
  }
  #navbar-main ul li:nth-of-type(7) {
    animation-delay: 0.8s;
  }
  @keyframes fadeIn {
    0% {
      transform: translateX(40px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  #navbar-main ul li a.nav-text {
    padding: 15px 0;
    border-bottom: none !important;
  }
  li a.nav-text span {
    display: inline;
  }
  header #nav-toggle {
    display: block;
  }

  .sponsors_name{
    gap: 0rem;
    
  }
}

/* end of navbar */


.hero__headline.header-xl{
  color: var(--accent);
}

#copyright {
  font-size: 1rem;
}
#copyright span {
  color: var(--accent);
}

#footer_nav {
  display: flex;
  /* border: 2px solid red; */
  height: 100%;
  justify-content: end;
  align-items: end;
}

#footer_list {
  font-size: 0.8rem;
  padding: 0.5rem;
  color: var(--accent);
}





@media (max-width: 62.4988em) {
  #footer_nav {
    display: flex;
    /* border: 2px solid red; */
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-block-start: 4rem;
  }
}

/* end of newly added */

/* sponsors styles */
.sponsors{
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  padding-block: 3rem;
  /* margin-block-start: 3rem; */
  height: 150px;
  /* border-top: 2px solid var(--accent); */
  
    /* background-image: url("/assets/images/pattern.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  
}

.sponsors_name{
  /* border: 2px solid black; */
  display: flex;
  /* justify-content: space-between; */
  width: 80%;
  height: 100%;
  display: flex;
  gap: 4rem;
  padding-left: 1rem;
  
}

.bbs-sponsor{
  scale: 2.5;
}
/* end of sponsors styles */


.contact__headline.header-xl{
  color: var(--accent);
}

.scale_down{
  scale: .5;
}


#green_bg{
  
background-color: var(--green);
}

.intro_para,
.theme_para{
  padding-block-start: 1rem;
  line-height: 1.5;
}


.intro_list {
  margin-top: 1.8rem;
  margin-block-end: 2rem;
}

.intro_list_items{
  margin-top: 1rem;
  margin-block-end: 1rem;
}

#emphasized_text{
  /* color:#00ca4e; */
  font-size: 20px;
  
}








.nav {
  height: 100px;
  width: 100%;
  background-color: var(--accent);
  position: relative;
  z-index: 1;
}

.nav > .nav-header {
  display: flex;
}

.nav > .nav-header > .nav-title {
  display: flex;
  width: 300px;
  justify-content: space-between;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:1100px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#logo{
  width: 70px;
}